@font-face {
    font-family: 'OldNewspaperTypes';
    src: url('/OldNewspaperTypes.ttf');
}

body {
    font-family: 'OldNewspaperTypes';
}

.my-2 {
    margin: 2rem auto;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-10 {
    margin-top: 10rem;
}

.font-sm {
    font-size: small;
}

.danger-italic {
    color: red;
    font-style: italic;
}

.italic {
    font-style: italic;
}

.inline-block {
    display: inline-block;
}

button:hover {
    cursor: pointer;
}

.text-right {
    float: right;
}

.text-center {
    text-align: center;
}

.mb-1 {
    margin-bottom: 1rem;
}